.app {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: cyan;
  font-size: 7rem;
  background: black;
  margin: 0;
  padding: 0;
}

p {
  /* border: solid red; */
  margin: 0;
  padding: 0;
}

img {
  width: 300px;
}

.cats {
  display: flex;
  flex-wrap: wrap;
}

button {
  transition: all 1s ease;
  height: 5rem;
  background: #999999;
  width: 7rem;
  border: solid 1px black;
  margin: 50px;
  border-radius: 8px;
  font-size: 2rem;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
  background: cyan;
  height: 10rem;
  width: 20rem;
  font-size: 4rem;
  border: 3px solid black;
}